.sidebox-container {
  background-color: #f0e8ff;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 10px 20px !important;
  margin-right: 50px !important;
}

.sidebox-header-icon img {
  width: 101px;
  height: 101px;
  border-radius: 50%;
}

.sidebox-header-title-name {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
}
.sidebox-header-title-member {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.sidebox-header-title {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
